server:
  http_listen_port: 0
  grpc_listen_port: 0
  log_level: "debug"

positions:
  filename: /tmp/positions.yaml

client:
  url: https://94736:eyJrIjoiYTYzNDg3YmZkMDdiMDM0ZGUxYjcwNmRiMzQzOTAyZjQwMjA1N2QxNCIsIm4iOiJoeXBlcmh1bWFuLWJhY2tlbmQiLCJpZCI6NTM1NzkzfQ==@logs-prod-us-central1.grafana.net/api/prom/push
  external_labels:
    env: dev

scrape_configs:
  - job_name: containers
    static_configs:
    - targets:
        - localhost
      labels:
        job: containerlogs
        __path__: /var/lib/docker/containers/*/*.log
    pipeline_stages:
    - docker: {}
